In [ ]:
print("welcome to Python world")

welcome to Python world

In [ ]:
a='py'
b='thon2'
c=a+b
print(c)

python2

In [ ]:
a,b=0,1
while a<10:
  print(a, end=',')
  a,b=b,a+b

0,1,1,2,3,5,8,

In [ ]:
x=int(input("enter a number"))
if x<0:
  print("Negative number")
elif x>0:
  print("Positive Number")
else:
  print("Zero")

enter a number-5
Negative number

In [ ]:
for n in range(2, 10):
    for x in range(2, n):
        if n % x == 0:
            print(f"{n} equals {x} * {n//x}")
            break

4 equals 2 * 2
6 equals 2 * 3
8 equals 2 * 4
9 equals 3 * 3

In [ ]:
list(range(2,3))

[2]

In [7]:
words=['ball','bat','wicket']
words.append('run')
print(words)
words.insert(2,'run')
print(words)
words.remove('run')
print(words)
words.remove('run')
print(words)

['ball', 'bat', 'wicket', 'run']
['ball', 'bat', 'run', 'wicket', 'run']
['ball', 'bat', 'wicket', 'run']
['ball', 'bat', 'wicket']

In [20]:
for n in range(2, 10):
  for x in range(2, n):
    if n % x == 0:
      print(n, 'equals', x, '*', n//x)
      break
    else:
      # loop fell through without finding a factor
      print(n, 'is a prime number')
      break;

3 is a prime number
4 equals 2 * 2
5 is a prime number
5 is a prime number
5 is a prime number
6 equals 2 * 3
7 is a prime number
7 is a prime number
7 is a prime number
7 is a prime number
7 is a prime number
8 equals 2 * 4
9 is a prime number
9 equals 3 * 3

In [21]:
for n in range(2, 10):
  for x in range(2, n):
    if n % x == 0:
      print(n, 'equals', x, '*', n//x)
      break
    else:
      # loop fell through without finding a factor
      print(n, 'is a prime number')
      break;

3 is a prime number
4 equals 2 * 2
5 is a prime number
6 equals 2 * 3
7 is a prime number
8 equals 2 * 4
9 is a prime number

In [14]:
for num in range(1,5):
  odd_flag=0
  for i in range(2,num):
    if num % i == 0:
      print("composite number", num)
      odd_flag=1
      break;

  if odd_flag==0:
    print('    prime number',num)

    prime number 1
    prime number 2
    prime number 3
composite number 4

In [19]:
def fib(n): # write Fibonacci series up to n
    """Print a Fibonacci series up to n."""
    a, b = 0, 1
    while a < n:
        print(a, end=', ')
        a, b = b, a+b
    ##print()

fib(500)

0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377,

In [17]:
print(list(range(5)))

[0, 1, 2, 3, 4]

In [25]:
a=['cat', 'bat', 'hat']
b=['fat', 'mat']
a.append('rat')
a.extend(b)
print(a)
#a.reverse()
a.sort()
print(a)

['cat', 'bat', 'hat', 'rat', 'fat', 'mat']
['bat', 'cat', 'fat', 'hat', 'mat', 'rat']