In [ ]:
print("welcome to Python world")

welcome to Python world

In [ ]:
a='py'
b='thon2'
c=a+b
print(c)

python2

In [ ]:
a,b=0,1
while a<10:
  print(a, end=',')
  a,b=b,a+b

0,1,1,2,3,5,8,

In [ ]:
x=int(input("enter a number"))
if x<0:
  print("Negative number")
elif x>0:
  print("Positive Number")
else:
  print("Zero")

enter a number-5
Negative number

In [ ]:
for n in range(2, 10):
    for x in range(2, n):
        if n % x == 0:
            print(f"{n} equals {x} * {n//x}")
            break

4 equals 2 * 2
6 equals 2 * 3
8 equals 2 * 4
9 equals 3 * 3

In [ ]:
list(range(2,3))

[2]

In [ ]:
words=['ball','bat','wicket']
words.append('run')
print(words)
words.insert(2,'run')
print(words)
words.remove('run')
print(words)
words.remove('run')
print(words)

['ball', 'bat', 'wicket', 'run']
['ball', 'bat', 'run', 'wicket', 'run']
['ball', 'bat', 'wicket', 'run']
['ball', 'bat', 'wicket']

In [ ]:
for n in range(2, 10):
  for x in range(2, n):
    if n % x == 0:
      print(n, 'equals', x, '*', n//x)
      break
    else:
      # loop fell through without finding a factor
      print(n, 'is a prime number')
      break;

3 is a prime number
4 equals 2 * 2
5 is a prime number
5 is a prime number
5 is a prime number
6 equals 2 * 3
7 is a prime number
7 is a prime number
7 is a prime number
7 is a prime number
7 is a prime number
8 equals 2 * 4
9 is a prime number
9 equals 3 * 3

In [ ]:
for n in range(2, 10):
  for x in range(2, n):
    if n % x == 0:
      print(n, 'equals', x, '*', n//x)
      break
    else:
      # loop fell through without finding a factor
      print(n, 'is a prime number')
      break;

3 is a prime number
4 equals 2 * 2
5 is a prime number
6 equals 2 * 3
7 is a prime number
8 equals 2 * 4
9 is a prime number

In [ ]:
for num in range(1,5):
  odd_flag=0
  for i in range(2,num):
    if num % i == 0:
      print("composite number", num)
      odd_flag=1
      break;

  if odd_flag==0:
    print('    prime number',num)

    prime number 1
    prime number 2
    prime number 3
composite number 4

In [ ]:
def fib(n): # write Fibonacci series up to n
    """Print a Fibonacci series up to n."""
    a, b = 0, 1
    while a < n:
        print(a, end=', ')
        a, b = b, a+b
    ##print()

fib(500)

0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377,

In [ ]:
print(list(range(5)))

[0, 1, 2, 3, 4]

In [ ]:
a=['cat', 'bat', 'hat']
b=['fat', 'mat']
a.append('rat')
a.extend(b)
print(a)
#a.reverse()
a.sort()
print(a)

['cat', 'bat', 'hat', 'rat', 'fat', 'mat']
['bat', 'cat', 'fat', 'hat', 'mat', 'rat']

In [ ]:
stack=['a', 'b', 'c']
stack.append('d')
stack.append('e')
stack.pop()
print(stack)
print(stack.pop())
stack

['a', 'b', 'c', 'd']
d

['a', 'b', 'c']

In [ ]:
for x in [4,0,93]:
    print(x)

4
0
93

In [ ]:
matrix = [
          [1, 2, 3, 4],
          [5, 6, 7, 8],
         ]


transpose = [[matrix[j][i]
           for j in range(len(matrix))] for i in range(len(matrix[0]))]

print(transpose)

[[1, 5], [2, 6], [3, 7], [4, 8]]

In [ ]:
import numpy

A = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    ]

print(numpy.transpose(A))

[[1 5]
 [2 6]
 [3 7]
 [4 8]]

In [ ]:
t1=(555, 777, 'partha')
t2=555, 777, 'partha'
if t1==t2:
  print("same")
else:
  print("not same")

same

In [ ]:
#file handling in python
f = open(r"C:\Users\246930\others\Study\python\mytestfile.txt", "x")
print(f)

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (<ipython-input-7-19aebdd337b5>, line 2)

In [ ]:
#file handling in python
f = open("mytestfile.txt", "x")
f.close()

In [ ]:
#file handling in python
f = open("mytestfile.txt", "r+")
l = ["This is Lagos \n","This is Python \n","This is Fcc \n"]
f.writelines(l)
f.seek(0)  # Reset file pointer to the beginning
x=f.readlines()
print(x)
print("File's content :")
f.seek(0)  # Reset file pointer to the beginning
print(f.read())
f.close()

['This is Lagos \n', 'This is Python \n', 'This is Fcc \n']
File's content :
This is Lagos
This is Python
This is Fcc

In [ ]:
#file handling in python
f = open("mytestfile.txt", "r+")
#f.write("This is another new line.")
print(f.read())
f.close()

This is Lagos
This is Python
This is Fcc

In [ ]:
import os
print(os.getcwd())
os.remove("mytestfile.txt")

/content

In [ ]:
import json
var = {
      "Subjects": {
                  "Maths":85,
                  "Physics":90
                   }
      }
print(var)

with open("Sample.json", "w") as p:
     json.dump(var, p)

with open("Sample.json", "r") as read_it:
     data = json.load(read_it)

print('data=',data)

{'Subjects': {'Maths': 85, 'Physics': 90}}
data= {'Subjects': {'Maths': 85, 'Physics': 90}}

In [ ]:
def average(values):
    """Computes the arithmetic mean of a list of numbers.
       >>> print(average([20, 30, 70]))
       40.0
       """
    return sum(values) / len(values)

s=[1,2,3,4,5,6,7,8]
a=average(s)
print(a)

import doctest
doctest.testmod() # automatically validate the embedded tests

4.5

TestResults(failed=0, attempted=1)

In [ ]:
min(2, 55, -66,3,20)

-66

In [ ]:
m=1
m+=10
print(m)

m*=2
print(m)

m/=3
print(m)

11
22
7.333333333333333

In [6]:
a='partha'
for i in range(-1,-7,-1):
    print(a[i])

a
h
t
r
a
p

In [16]:
a='ParthaSarathi Purkait'
print(a[1:6])
print(a.upper())
print(a.lower())
print(a.strip())
print(a.find('art'))
print(a.split())
print(a.replace('S','s'))

artha
PARTHASARATHI PURKAIT
parthasarathi purkait
ParthaSarathi Purkait
1
['ParthaSarathi', 'Purkait']
Parthasarathi Purkait